<%= render "pages/navbar" %>

<div class="container">
<h1>Our Grandmas are waiting for you !</h1>
<div class="grid">
<% @grandmas.each do |grandma|%>
      <div class="card-product">
        <%= link_to '', grandma_path(grandma)  %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2><%=grandma.name%></h2>
          <p><%=grandma.competence.to_s%></p>
        </div>
      </div>
    <% end %>
  </div>
  <div
  id="map"
  style="width: 100%;
  height: 400px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
</div>
