<h2>Nouvelle mémé</h2>

<h5>Les infos de ma super mémé</h5>

<%= simple_form_for(@grandma) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :address %>
  <%= f.input :age %>
  <%= f.association :competence %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.button :submit, class: 'gmp-btn' %>
<% end %>
