<div class="container">
  <h2><%= @grandma.name %></h2>
  <p><%= @grandma.description %></p>
  <p><%= @grandma.price %>€</p>
  <p><%= @grandma.address %></p>
  <p><%= @grandma.age %></p>
  <p><%= @grandma.photo %></p>
  <p><%= @grandma.competence %></p>
  <p><%= @grandma.user %></p>
  <%= link_to "update your Grandma", edit_grandma_path(@grandma)%>
</div>
  <p><%= link_to 'Destroy', grandma_path(@grandma), method: :delete, data: { confirm: 'Are you sure?' } %></p>


