<%= render '/pages/navbar' %>
<% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
  <% end %>
<% if flash[:alert] %>
    <div class="alert alert-danger"><%= flash[:alert] %></div>
  <% end %>
  <div class="container">
<div class="grid">
  <%= render '/pages/showcard' %>
<div class="reservation-infos">
  <div class="book-date">
    <%= form_with url: grandma_transactions_path(@grandma), method: :post, local: true do |form| %>
    <%= form.date_field :rentaldate %>
    <p><%= form.submit :mamieresa, value: "Réserver", class: "btn gmp-btn gmp-btn:hover" %></p>
  <% end %>
  </div>
  <div class="planning">
    <!-- <ul class="list-group md-3 ml-3 w-50"> -->
      <ul class="list-group">
      <li class="list-group-item list-group-item-dark">Déso, mémé est déjà bookée les :</li>
      <% @grandma.transactions.each do |transac| %>
      <li class="list-group-item list-group-item-secondary"><%= transac.rentaldate.strftime("%d %B %Y") %></li>
      <% end %>
    </ul>
  </div>
  </div>
</div>

<!--<div class="hoover; container49">-->
  <% if user_signed_in? %>
  <% if current_user.id == @grandma.user_id %>
    <p><%= link_to "Modifier ma mémé", edit_grandma_path(@grandma), class: "btn gmp-btn gmp-btn:hover" %></p>
    <p><%= link_to 'Supprimer', grandma_path(@grandma), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <% end %>
  <% end %>
<!--</div>-->
</div>


  </div>
</div>


