<div class="d-flex flex-column mheight100">

<%= render 'navbar' %>

<div class="height100">
  <div class="banner">
    <h1>Grandma Rental super website</h1>
    <p>Ready to use the power of an old and wise Grandma?</p>
    <%= render 'searchgdma' %>
  </div>

  <% if flash[:notice] %>
    <div class="alert alert-info"><%= flash[:notice] %></div>
  <% end %>
  <div class="container">
    <h2>Nos supers mémés à découvrir !</h2>
    <%= render 'cardsGrandma' %>
  </div>
</div>

<%= render 'footer' %>

</div>
